//Desert Sky Color Scheme
// https://kuler.adobe.com/dessert-sky-color-theme-2704177/

$dune: #9C4030;
$sand: #FCD279;
$desertskydrk: #689CCC;
$desertskylght: #A2E6F2;
$desertclouds: #F2F2EF;





//The Farmer's Garden Color Scheme
// https://kuler.adobe.com/Farmers-Garden-color-theme-2535658/


$lemon: #FFFEBD;
$mustard: #E5C967;
$spinach: #657F4A;
$bluejeans: #293240;
$gardensky: #669EBF;


